article {
  @include clearfix;
  text-align: left;
  font-size: 1.2em;
  padding: 20px;

  .type {
    border-bottom: 1px solid;
    display: inline-block;
    font-size: .7em;
    font-weight: 900;
    letter-spacing: 1px;
    margin-bottom: 2em;
    padding: .1em 0;
    text-align: left;
    text-transform: uppercase;

    a {
      color: $base-font-color;
    }

    a:hover {
      color: $base-accent-color;
    }
  }

  h1 {
    font-size: 1.6em;
    font-weight: 600;
    margin-bottom: .6em;

    @include media($medium-screen) {
      font-size: 2em;
    }
  }

  h2 {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.4em;
    margin-top: 2em;
    margin-bottom: 1.2em;

    @include media($medium-screen) {
      font-size: 1.2em;
    }
  }

  code {
    white-space: nowrap;
    font-family: monaco;
    background: #F7F7F7;
    border: 1px solid #E0E0E0;
    border-radius: $base-border-radius * 1.5;
    padding: .1em .4em;
    font-size: .75em;
    font-style: normal;
  }

  h3 {
   font-size: .9em;
   font-weight: 700;
   text-transform: uppercase;
   line-height: 1.4em;
   margin-bottom: .5em; 
  }

  p.date {
    color: transparentize($base-font-color, .6);
    font-size: .9em;
    margin-bottom: .5em;
  }

  p {
    font-weight: 300;
    letter-spacing: 1;
    margin-bottom: 1.5em;

    span {
      font-weight: 600;
      font-size: .8em;
      text-transform: uppercase;
    }
  }

  hr {
    width: 4em;
  }

  a.read-more {
    display: inline-block;
    font-weight: 700;
    font-size: .8em;
    text-transform: uppercase;
    margin-left: .2em;
    position: relative;

    span {
      position: absolute;
      font-size: 1.7em;
      top: -2px;
      right: -10px;
    }
  }

  p.author {
    font-style: italic;
  }

  img, svg {
    display: block;
    margin: auto;
    margin-bottom: 20px;
  }
}
