.new-feed {
  margin-top: 40px;

  form {
    margin: auto;
    padding: 10px;

    @include media($large-screen) {
      width: 50%;
    }
  }

  label {
    margin-bottom: 14px;
  }

  input[type=url] {
    padding: 5px;
    margin-bottom: 20px;
  }
}
