<% flash.each do |key, value| %>
  <div class="flash flash-<%= key %>">
    <span><%= value %></span>
  </div>
<% end %>

<% content_for :javascript do %>
  <script type="text/javascript">
    var flash = $('.flash');

    $(flash).on('click', function(e) {
      flash.hide();
    });
  </script>
<% end %>
