<header class="centered-navigation">
  <div class="centered-navigation-wrapper">
    <a href="" class="centered-navigation-menu-button">MENU</a>
    <ul class="centered-navigation-menu">
      <li class="nav-link">
        <%= link_to 'Feeds', root_path %>
      </li>
      <li class="nav-link">
        <%= link_to 'New Feed', new_feed_path %>
      </li>
      <li class="nav-link"><a href="javascript:void(0)">Sign Out</a></li>
    </ul>
  </div>
</header>
